[Unit]
Description=Nodetrust Issue Service
After=network.target

[Service]
Type=simple
ExecStart=/snap/bin/libp2p-nodetrust-server issue /var/snap/libp2p-nodetrust-server/common/config.issue.json
Restart=always
EnvironmentFile=/opt/deploy/nodetrust/env

[Install]
WantedBy=multi-user.target
